.type-1354 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}
.type-1354 .container .store-info {
  display: flex;
  align-items: center;
}
.type-1354 .container .store-info .logo img {
  width: 50px;
  margin-right: 10px;
}
.type-1354 .container .store-info .store-name h2 {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  color: #333;
}
.type-1354 .container .store-info .store-name h2 span {
  color: #ff8c00;
}
.type-1354 .container .store-info .store-name p {
  font-size: 14px;
  margin: 0;
  color: #999;
}
.type-1354 .container .features {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 20px;
}
.type-1354 .container .features .feature-item {
  display: flex;
  align-items: center;
  text-align: center;
  color: #666;
}
.type-1354 .container .features .feature-item p {
  font-size: 12px;
  margin-top: 5px;
}
.type-1354 .container .features .feature-item.highlight {
  color: #ff8c00;
  font-weight: bold;
}
.type-1354 .container .features .feature-item .icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 45px;
  background: #f4f4f4;
}
